.square {
    width: 60px;
    height: 60px;
    background: cornflowerblue;
    cursor: pointer;
    display: flex;
}

.square.clicked {
    background:transparent;
}

.square.has-item >  svg {
    opacity: 0;
    width: 90%;
    height: 90%;
    margin: auto;
}


.square.has-item.clicked >  svg{
    opacity: 1;
    z-index: 9;
    background: #fff;
    display: flex;
}