.square {
    width: 60px;
    height: 60px;
    background: cornflowerblue;
    cursor: pointer;
}

.square.clicked {
    background:transparent;
}

.square > div.hasRing {
    width: 100%;
    height: 100%;
    background: gold;
    position: relative;
    z-index: -1;
}